doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/bower_components/angular-material-icons/angular-material-icons.css')
  body(ng-app="mrRobot" ng-cloak)
    block content
  script(src="/bower_components/jquery/dist/jquery.js")
  script(src="/bower_components/angular/angular.js")
  script(src="/bower_components/angular-route/angular-route.js")
  script(src="/bower_components/angular-aria/angular-aria.js")
  script(src="/bower_components/angular-messages/angular-messages.js")
  script(src="/bower_components/angular-material/angular-material.js")
  script(src="/bower_components/angular-route/angular-route.js")
  script(src="/bower_components/angular-animate/angular-animate.js")
  script(src="/bower_components/angular-material-icons/angular-material-icons.js")
  script(src="/bower_components/svg-morpheus/compile/unminified/svg-morpheus.js")
  script(src="/javascripts/app.js")
  script(src="/javascripts/controllers/robotControllers.js")
